.note_count_cont {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    min-width: 100px;
    position: absolute;
    right: 0;
    border: 1px solid rgb(132, 78, 78);
    border-top-left-radius: 20px;
    /* Скругление правого верхнего угла */
    border-bottom-left-radius: 20px;
    background-color: #fbf7f7;
}

.note_count_p {
    font-size: 10px;
    padding-bottom: 5px;
    padding-left: 5px;
}